.chat {
  display: flex;
  padding: 10px 12px;

  &__delete-btn {
    order: 1;
    margin-left: 10px;
  }

  &__avatar {
    margin-right: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #efefef;
  }

  &__info {
    flex-grow: 1;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
  }

  &__name {
    margin-bottom: 6px;
  }

  &__last-message {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
  }

  &__time {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    text-align: right;
    color: #999999;
  }
}
