.button {
  background-color: #3369f3;
  border: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  padding: 12px 70px;
  color: #ffffff;

  &:hover {
    background-color: #4b7dfa;
  }

  &:active {
    transform: scale(0.99);
  }

  &--with-content {
    border: none;
  }

  &--with-content:active {
    transform: scale(0.98);
    outline: 1px solid #cdcdcd;
  }

  &--with-content:hover {
    outline: 1px solid #cdcdcd;
  }
}
