<form action="" class="form">
    <h4 class="form__header">{{description}}</h4>

    <ul class="form__inputs">
        {{#each inputElements}}
        <li class="form__input">{{>inputPartial this}}</li>
        {{/each}}
    </ul>

    <div class="form__actions">
        {{>buttonPartial this.buttonElement}}

        {{>linkPartial this.linkElement}}
    </div>
</form>