@import "../../../static/styles/colors";
@import "../../../static/styles/variables";

.input {
  &__field {
    height: 33px;
    width: 100%;
    border: 0.5px solid $gray;
    border-radius: 10px;
    padding: 0 15px;
    font-family: $basic-font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $black;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 1px 1px $purple;
    }

    &.invalid {
      color: $error-color;
      border: 0.5px solid $error-color;
    }
  }

  &__label {
    display: inline-block;
    font-family: $basic-font-family;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: $dark-gray;
    padding-bottom: 5px;
  }
}
