.profile {
  width: 510px;
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-style: normal;

  &__image {
    width: 130px;
    height: 130px;
    background-color: #efefef;
    border-radius: 50%;
    margin-bottom: 21px;
  }

  &__name {
    margin-bottom: 60px;
  }

  &__list {
    width: 100%;
    margin-bottom: 60px;
  }

  &__save-button {
    width: 280px;
  }
}
