.profile {
  width: 510px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 130px;
    height: 130px;
    background-color: #efefef;
    border-radius: 50%;
    margin-bottom: 21px;
  }

  &__name {
    margin-bottom: 60px;
  }

  &__list {
    width: 100%;
    margin-bottom: 60px;
  }

  &__element::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }

  &__element:last-child::after {
    border-bottom: none;
  }

  &__link {
    padding: 10px 0px;
    display: block;
  }

  &__link--exit {
    color: #ff0000;
  }
  &__link--exita:visited {
    color: #ff0000;
  }
}
