@import "../input-styles";

.password-input-block {
  .input {
    &-container {
      position: relative;

      &__eye-hide-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 24px;
        height: 24px;
        border: none;
        padding: 0;
        background: url("../../../../static/assets/icons/eye-hide.svg") center center
          no-repeat;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
