section.error-section
    a(href="#" id="goToChat")
        include ../../../static/assets/icons/arrow-back.svg
        span(class="error-section__text")="Back to the chats"
    img(class="error-section__img" src=errorImgSrc alt="Error 500")
