@import "../../../static/styles/colors";
@import "../../../static/styles/variables";

.error-message-block {
  .error-text {
    display: none;
    font-family: $basic-font-family;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $error-color;
    margin: 0;

    &--display {
      display: block;
    }
  }
}
