@import "../../../static/styles/colors";
@import "../../../static/styles/variables";

.settings-page-block {
  .form-container {
    display: flex;
    width: 828px;
    margin: 0 auto;
    border-radius: 20px;
    background: $background-color;
  }

  .form {
    max-width: 100%;
    width: 414px;
    margin: 0 auto;
    padding: 33px;
    border-radius: 20px;

    &--relative {
      position: relative;
    }

    &__escape-icon {
      position: absolute;
      top: 33px;
      right: 33px;
    }

    .avatar-button {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        display: none;
        width: 50px;
        font-family: $basic-font-family;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: $white;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba($black, 75%);
        background-blend-mode: overlay;

        .avatar-button__text {
          display: inline-block;
        }
      }
    }

    .display-block {
      display: block;
    }
  }
}
