div(id="closeEllipsisMenu" class=`ellipsis-menu-background${isOpened ? "" : " hidden"}`)
  section(class="ellipsis-menu-section")
    div(class='ellipsis-menu-item' id="addUser")
      include ../../../../static/assets/icons/add-user.svg
      span(class="ellipsis-menu-item__text")="Add user"
    div(class='ellipsis-menu-item' id="deleteUser")
      include ../../../../static/assets/icons/delete-user.svg
      span(class="ellipsis-menu-item__text")="Delete user"
