@import "../../../static/styles/colors";
@import "../../../static/styles/variables";

.signin-page-block {
  .form {
    max-width: 100%;
    width: 414px;
    margin: 0 auto;
    padding: 33px;
    border-radius: 20px;
    background: $background-color;

    &__welcome-text {
      position: relative;
      font-family: $head-font-family;
      font-weight: 300;
      font-size: 42px;
      line-height: 51px;
      text-align: center;
      color: $purple;
      margin: 0 0 -45px;

      span {
        font-weight: 400;
        margin-top: -10px;
        display: block;
      }
    }

    &__img {
      height: 191px;
      margin: 0 auto;
      display: block;
    }

    &__title {
      font-family: $basic-font-family;
      font-size: 28px;
      line-height: 38px;
      font-weight: 400;
      margin-bottom: 15px;
      color: $black;
    }

    &__button-signup {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border: 1px solid $purple;
      box-shadow: none;
      background: transparent;
      color: $purple;
      max-width: 100%;
      width: 348px;
      height: 40px;
      border-radius: 20px;
      font-family: $basic-font-family;
      font-size: 18px;
      text-align: center;
      letter-spacing: -0.02em;
    }
  }
}
