form(class="form" id="form")
    h1(class="form__title")="Sign in"
    TextInputComponent(data="loginInput")
    ErrorMessageComponent(data="errorLogin" error-for=loginInput.id)
    PasswordInputComponent(data="passwordInput")
    ErrorMessageComponent(data="errorPassword" error-for=passwordInput.id)
    FormButtonComponent(data="formButton")
    a(href="#" id="goToSignUp" class="form-button form__button-signup")="Sign up"
