<p class="field">
    <span class="field__key">{{key}}</span>

    <span class="field__value">
        {{#if value}}
            {{value}}
        {{else}}
            {{> @partial-block inputElement }}
        {{/if}}
    </span>
</p>