.field {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;

  &__key {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  &__value {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #999999;
  }
}
// TODO: Create mixins for text
