@import "../../../static/styles/colors";

.signup-page-block {
  .form {
    max-width: 100%;
    width: 414px;
    margin: 0 auto;
    padding: 33px;
    border-radius: 20px;
    background: $background-color;
  }
}
