@import "../static//styles/common";
@import "components/button/button";
@import "components/link/link";
@import "components/input/input";
@import "components/response-code/response-code";
@import "components/form/form";
@import "components/lists/list";
@import "components/images/avatar/avatar";
@import "pages/authentication/authentication";
@import "pages/codes/code";
@import "pages/profile/profile";
@import "components/chat/chat";
@import "pages/chats/chats";

.width-100 {
  width: 100%;
}

.display-flex {
  display: flex;
}

.flex-diraction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}
