<div class="edit-password">
    <span class="edit-password__image"><img src="" alt=""></span>

    <ul class="edit-password__list">
        {{#each fields}}
        <li class="edit-password__element">
            {{#>edit-password-field this}}
                {{>edit-password-input }}
            {{/edit-password-field}}
        </li>
        {{/each}}
    </ul>

    {{>edit-password-save-button buttonElement}}
</div>