div(id="closePopupAddUserToChat" class=`popup-add-user-background${isOpened ? "" : " hidden"}`)
  section(class="popup-add-user-form")
    SearchInputComponent(data="searchUserInput" class="popup-add-user-form__search")
    section(id="addUserToChat")
      UsersListComponent(data="usersList")
    button(type="button" id="closeAddUserPopup" class="popup-add-user-form__cross-icon")
      include ../../../../static/assets/icons/cross.svg
